@import "tailwindcss";

@theme {
	--animate-overlay-enter: overlay-enter 150ms cubic-bezier(0.4, 0, 0.2, 1);
	--animate-overlay-exit: overlay-exit 150ms cubic-bezier(0.4, 0, 0.2, 1);
	--animate-dialog-enter: dialog-enter 150ms cubic-bezier(0.4, 0, 0.2, 1);
	--animate-dialog-exit: dialog-exit 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@utility text-box-trim {
	text-box: trim-both cap alphabetic;
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@keyframes overlay-enter {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes overlay-exit {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes dialog-enter {
	from {
		opacity: 0;
		scale: 0.75;
	}

	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes dialog-exit {
	from {
		opacity: 1;
		scale: 1;
	}

	to {
		opacity: 0;
		scale: 0.75;
	}
}

body {
	font-family:
		var(--font-inter), var(--font-noto-sans-jp), system-ui, sans-serif;
	color: var(--color-slate-800);
	background-color: var(--color-slate-100);
}
