@import "tailwindcss";

@utility text-box-trim {
	text-box: trim-both cap alphabetic;
}

body {
	font-family:
		var(--font-inter), var(--font-noto-sans-jp), system-ui, sans-serif;
	color: var(--color-slate-800);
	background-color: var(--color-slate-100);
}
